body {
    background-color: #d9d9d9;
    margin: 0 auto;
}

header {
    border: 1px solid red;
    position: fixed;
    height: 100px;
    top: 0;
    margin: 0 auto;
}

.second_body {
    margin-top: 20px;
}

h1 {
    background-color: skyblue;
    margin-top: 0;
}

h3 {
    font-style: italic;
}

p {
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding-left: 10px;
    position: absolute;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h2 {
    text-align: center;
}

.image {
    margin-top: 30px;
    max-width: 40%;
    max-height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}