.aboutheader {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.textarea{
  display: grid;
  justify-content: center;
  margin-top: 120px;
  padding: 5px;
}

.main-about{
  display: flex;
  font-size: 25px;
  justify-content: center;
  margin-top: 40px;
}